/*
// Project Name: Milestone1
// Project Version: 1.1
// Module Name: User Registration Module
// Module Version: 1.1
// Programmer Name: Justin Gewecke
// Date: 7/5/2020
// Description: This module handles the styling done in the website
// References: https://www.w3schools.com/php/php_mysql_insert.asp
*/

label {
	float: left;
	display: block;
}

.group {
	display: flex;
	margin-bottom: 5px;
}

input[type=text] {
	height: 2opx;
	align-items: flex-end;
	margin-left: 10px;
}

input[type=password] {
	height: 2opx;
	align-items: flex-end;
	margin-left: 10px;
}